@font-face {
    font-family: 'Rollgates';
    src: url('/fonts/RollgatesLuxuryItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Rollgates Bold';
    src: url('/fonts/RollgatesLuxury.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }